.calendar-list {
  padding-top: 2em;
  padding-bottom: 2em;  
  .content-post {
    padding-bottom: 2em;  
  }
  .post-content {
    margin-bottom: 0; 
  }
  .post-title {
    padding-top: 0; 
  }
  .image-caption {
    font-size: 1.5em;
    font-weight: 700;
    transition: all 0.4s ease;   
  } 
  figcaption {
    background: rgba(darkRed, 0.9);
    background: none;
    opacity: 1;
    transition: background 0.4s ease;
    &:hover {
      background: rgba(darkRed, 0.7);
      background: none;
      .image-caption {
        font-size: 1.25em; 
        padding-top: 4em;
        padding-left: 4em;  
        //text-shadow: 2px 2px 0 #222;   
      }
    }
  }    
}

// Event Expired

.event-expired {
  .post-media {
    img {
      //opacity: 0.25;
    }
  }
  .image-caption {
    color: #111;
    //opacity: 0.5;  
  }
  .register-btn {
    display: none;  
  }
  figcaption {
    background: rgba(white, 0.85);
    //background: none;   
    &:after {
    	background: rgba(darkRed, 0.95);
    	color: white;
    	content: "Ended";
    	font: {
      	size: 0.75em;
      }
      line-height: 30px;  
    	letter-spacing: 1.5px;
    	position: absolute;
    	top: 10px;
    	left: -60px; 
    	width: 200px;
    	text-align: center;  
    	text-shadow: -1px -1px 0 rgba(0,0,0,0.35); 
    	text-transform: uppercase;
    	transform: rotate(-35deg);
    	transition: all 0.4s ease;
    	z-index: 2;
    }
    &:hover {
      .image-caption {
       color: white;
      }
      &:after {
        background: rgba(black, 0.9);
        top: 12px;
        left: -65px;
      }
    }
  }
}

// Detail Button

.detail-btn {
  background: #DDD;
  color: #777;
  margin: 0;
  padding: 0.4em 0.5em;
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: middle; 
}

// Event Details

.event-details {
  position: relative;  
}

// Show/Hide/Register Buttons

button.show-panel {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

.button-label {
  &:last-child {
    display: none;
  }
}

.panel-content {
  max-height: 0;
  opacity: 0; 
  overflow: hidden;
  transition: all 0.4s cubic-bezier(.0,0,.58,1);   
}

// Panel Open

.panel-open {  
  .button-label {
    &:first-child {
      display: none;  
    }
    &:last-child {
      display: inline;
    }
  }       
  .panel-content {
    padding-top: 0.75em;
    max-height: 400px;
    opacity: 1;   
    overflow: visible;
    // 992
    @media (min-width: $break-md-screen) {
      max-height: 300px;  
    }   
  }     
}

// 320
@media (min-width: $break-tiny-phone) {
  .calendar-list {
    .image-caption {
      font-size: 1.875em; 
    }
    .show-panel,
    .hide-panel,
    .register-btn {
      margin-right: 0.5em;
      text-align: left;
      width: auto;    
    }
  }
}

// 667
@media (min-width: $break-ml-phone) {  
  .panel-open {
    padding-top: 0; 
    .hide-panel {  
      height: auto;
      width: auto; 
      position: relative;  
      top: 0;
      right: auto;
      left: 0;     
      i:before {
        //line-height: 28px;  
      }
      
    }   
  }
  .calendar-list {
    .post-media {
      padding-top: 0.25em;  
    }
    .event-location,
    .event-schedule,  
    .event-state,
    .event-recurring {
      display: inline-block;
      vertical-align: top;    
    } 
    .event-location,
    .event-schedule { 
      width: 100%;
    }
    .event-schedule {
      .event-label {
        //display: inline-block;
        //margin-right: 0.25em; 
        //margin-bottom: 0;
        //text-align: right;  
        //width: 3em;    
      }
    }
    .event-state,
    .event-recurring {
      margin-bottom: 0; 
    }
    .event-time.start,
    .event-time.end {
      display: inline-block;  
      width: auto;  
    }
    .event-state {
      padding-right: 2em; 
    }
  }
  // 992
  @media (min-width: $break-md-screen) {
    .calendar-list {
      .content-post {
        padding-bottom: 4em;  
      }
      .post-content {
        width: 75%;       
      }
      .post-media {
        width: 25%; 
      }
      .event-location,
      .event-schedule {
        margin-bottom: 0; 
      }
      .event-location {
        padding-right: 2em; 
        width: 40%;
      }
      .event-schedule {
        width: 55%;
      }
      .event-time.start {
        padding-right: 2em; 
      }
      .event-status {
        padding-top: 2em; 
      }
    }
  }
}