@import "variables";
@import "mixins";
//@import "prism";



// Demo Wrap

.demo-wrap {
	background: white;
	//border: 0.313em solid #C9C9C9;		
	margin: 0 auto; 	
	//padding-bottom: 4em;
	position: relative;
	width: 100%;  
	transition: all 500ms ease;
/*
	& > *:nth-child(2) {
  	margin-right: -1em;
  	margin-left: -1em;  
	}	
*/	
}

// Demo Info

.demo-info {
  
}

// Demo Content

.demo-content {
  
}

// 768
@media (min-width: $break-lg-phone) {
  .demo-wrap {
    display: flex;
    flex-flow: row wrap;
  }
  .demo-info {
    width: 20%; 
  }
  .demo-content {
    padding-left: 5%; 
    width: 80%; 
  }
}

// Demo Title 

.demo-title-bar {
	background-color: #CCC;
	//border-top: 1px solid white;
	//border-bottom: 1px solid white;
	//box-shadow: 0 0 0 2px #EEE;
  text-align: center;
  margin: 0 auto;
  padding: 0.75em 0;
  position: relative; 
}

.demo-title {
  font-size: 1.15em;
  color: #888;
	//font-family: $sans-serif;	
	text-shadow: none;
 	text-transform: uppercase;
  margin-bottom: 0;    
  a {
	  color: #888;
  }
  // 1200
  @media (min-width: $break-lg-screen) {
    //padding-right: 0.5em;
    //text-align: right;
  }
}

.demo-date-stamp {
  background: white;
  font-size: 0.8em; 
  display: block;
  //position: absolute; 
  opacity: 0.5; 
  top: 0;
  right: 0;
  //height: 10%;
  width: 100%;
  text-align: center; 
  z-index: 100000;  
  .date-wrap {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    span {
      font: 800 1em $sans-serif;
      padding: 0.5em 0;
      width: 100%;  
      &.date-marker {
        background: darkRed;
        color: white;
        font-size: 0.9em; 
        text-transform: uppercase;  
        width: 100%;   
      }
      &.date {        
            
        width: 100%;  
      }
      &.year {
        display: none;  
      }  
    }
  }
  // 667
  @media (min-width: $break-ml-phone) {
/*
    text-align: right;
    width: 20%; 
    .date-wrap {
      width: auto;
      span {
        padding-right: 1em; 
      }  
    }
*/  
  }   
}


.demo-subheader {
	color: #444;
	font-size: 1.2em;
	font-family: $sans-serif;	
	margin-top: 0.75em;	
	margin-bottom: 0.5em;
  text-transform: uppercase;
	text-align: center;
	// 568
	@media (min-width: $break-md-phone) {
		text-align: left;
	}	
	// 768
	@media (min-width: $break-lg-phone) {
		//font-size: 1.8em;
	}	
}

.demo-helper-txt {
  margin: 0 auto;
  //max-width: 600px;   
  text-align: center;
  pre {
    background-color: #FFFFE0;
    text-align: center; 
  }
  // 480
  @media (min-width: $break-sm-phone) {
    pre {
      font-size: 0.8em;  
      padding: 1em 1em 0; 
      text-align: left;
    }
  } 
}

// Demo Label

.demo-label-sm {
	background: #F2F2F2;
	color: #667;
	display: block;	
	font: 1em/1 $sans-serif;
	//max-width: 20em;  
	margin: 0 auto;
	padding: 0.5em 0.625em;	
	text-align: center; 
	text-transform: uppercase;
	width: auto;
	span {
  	color: #777;
  	display: block; 
  	font: 600 0.75em $sans-serif;
  	text-transform: none; 
	}
	// 480
	@media (min-width: $break-sm-phone) {
   	text-align: left;
   	span {
     	display: inline; 
   	}
	}		
}

.code-toggle-btn {
  display: none;  
	background: white;
	box-shadow: 0 0 0 1px #DDD;
  border-radius: 0.25em;
  color: #555;
  font-size: 0.6em;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 86px;
  margin: 0 auto;	
  padding: 0.438em 0.7em;
  position: relative;
  width: 100%;
  z-index: 1;			
  span[class*="icon-"] {
	  border-radius: 0 0.25em 0.25em 0;
	  font-size: 1em;
	  position: absolute;
	  right: 0;
	  top: 0;
	  background-color: #CCC;
	  padding-top: 0.45em;
	  padding-left: 0.1em;
	  height: 100%;	
  }
  .icon-carret-up {
	  background: #AAA;
	  color: #333;
	  padding-top: 0.35em;	
	  text-shadow: 0 -1px 0 rgba(white, 0.25);
  }
  // 480
  @media (min-width: $break-sm-phone) {
	  //width: 20%;	
  }
  // 667
  @media (min-width: $break-ml-phone) {
	  padding: 0.438em 2.2em 0.438em 0.7em;
  }  
}

.code-demo {
	display: inline-block;	
	margin: 0 auto;
	padding: 0 0.5em;			
	width: 100%;
	position: absolute;
	top: -100px;
	left: 0;
	z-index: 2;
	transition: all 500ms ease;
	opacity: 0;	
	pre {
		position: relative;	
	}
	.code-wrap {
		height: 0;	
		overflow: hidden;
		opacity: 0;
		transition: all 0.4s ease;	
	}
	.close-btn {
		display: none;	
	}
	// 768
	@media (min-width: $break-lg-phone) {
		left: 50%;
		padding: 0;	
		margin-left: -370px;
		max-width: 740px;		
	}
	// 992
	@media (min-width: $break-md-screen) {
		margin-left: -450px;
		max-width: 900px;
	}
	// 1200
	@media (min-width: $break-lg-screen) {
		margin-left: -512px;
		max-width: 1024px;
	}	
}

// Layout & Font-Icon Demo Styles

.demo {
	background: #F8F8F8;
/*
	.site-footer,
  .site-wrap:after {
  	height: 0;	
  }
*/
	.main-content {
		margin: 0 auto;
		line-height: 0; 
		padding: 0;
		width: 100%;
		.demo-wrap.vis:last-child {
    	margin-bottom: 0; 
  	}  
	}
	.demo-wrap {
  	line-height: 1.5; 
	}
	.btn-primary {
  	//background-color: tint(black, 25%);
	}
	
	// Contact Panels
	
	[class^="contact-panel"] {
  	// 768
  	@media (min-width: $break-lg-phone) {
    	padding-top: 4em;
      padding-bottom: 4em;
  	}  
	}
	
	.qc-form .form-wrap {
  	margin: 0 auto;  
	}
	
	// For Font Icons
	.demo-icons {
  	padding-right: 1em;
  	padding-left: 1em;  
  	.demo-title-bar {
    	margin-right: -1em;
    	margin-left: -1em;   
  	}
  	.demo-label-sm {
			background: #DDD;
			border: none;
			display: block;
			margin: 0 auto 0.65em;
			text-shadow: none;
			width: 100%;
			// 540
			@media (min-width: $break-md-phone) {
  			max-width: 100%;
			  text-align: left;
			}  	
		}
		.icon-wrap {
			background: #F5F5F5;
			border: 1px solid rgba(black, 0.08);
			box-shadow: 0.25em 0.25em 0 rgba(black, 0.15);
			display: inline-block;
			margin-bottom: 1em;		
			padding: 1em 0.625em;
			text-align: center; 
			width: 100%;
			&.last-wrap {
  			margin-bottom: 3em; 
			}	
			[class^="icon-"]:before, 
			[class*=" icon-"]:before {
  			color: #444;
				font-size: 2em;	
			}			 
			i {
  			display: inline-block;
  			font: {
    			style: normal;
          weight: bold;
        }
        letter-spacing: -0.03em;   
  			padding: 1em 0; 
  			text-align: center;
  			width: 100%;  			    			    
  			span {
    			color: #777;
          display: block;
          font-size: 0.85em;
          word-break: break-word;
          transition: all 0.4s ease;
          -webkit-font-smoothing: antialiased;  
  			}
  			&:hover,
  			&:focus {
    			span {
      			color: #444;
    			}
  			}
  			&:last-child {
    			margin-bottom: 0; 
  			}
			}
			[class^="icon-"]:before, 
			[class*=" icon-"]:before { 
				margin: 0 auto 0.15em;	
			}
			// 480
			@media (min-width: $break-sm-phone) {
  			display: flex;
  			flex-flow: row wrap;
  			justify-content: flex-start;  
				i { 
  				width: 33.3333333%;
  		  } 
			}
			// 540
			@media (min-width: $break-md-phone) {
				i {
  				padding: 1.25em 0.5em;
  				width: 20%; 
				}
			}
			// 992
			@media (min-width: $break-md-screen) {
  			justify-content: center;
  			i {
    			padding: 1.25em 0.75em;  
    			width: 16%; 
  			}
			}
			// 1200
			@media (min-width: $break-lg-screen) {
				i {
  				padding: 2em;
  				width: auto; 
				}
			}
		}
		&:last-child {
			margin-bottom: 0;	
		}
	}
	.md-size,
	.sm-size {
		float: none;
		margin-top: 1em;		
	}
	// 600
	@media (min-width: 600px) {
		.demo-icons {
/*
			.icon-wrap {
				margin-right: 0.25em;
				margin-left: 0.25em;				
				width: auto;
			}
*/
		}		
	}
	a.ribbon {
		z-index: 3;
	}
	// 768
	@media (min-width: $break-lg-phone) {
		.demo-icons {
			.icon-wrap {			
				//width: auto;
				[class^="icon-"]:before, 
				[class*=" icon-"]:before {
					font-size: 2.125em;
				}
			}
		}
		.blog-posts {
			padding-right: 2.5em;
			padding-left: 2.5em;
			&.post-grid {
				padding-right: 0;
				padding-left: 0;		
			}		
		}		
	}
}

.view-code {
	display: block;	
}

.hide-code {
	display: none;	
}

.visible {
	.code-demo {
		top: 100px;
		opacity: 1;
		z-index: 4;	
	}
	.code-wrap {
		display: block;
		height: auto;
		opacity: 1;		
		overflow: visible;				
	}
	.demo-toggle-btn {
		// max-width: 95px;	
	}
	.view-code {
		display: none;	
	}
	.hide-code,
	.close-btn {
		display: block;	
	}	
}

.hidden {
	.code-demo {
		top: -100px;
		opacity: 0;
	}
	.code-wrap {
		
	}
}

.toggle-mobile {
	display: none;
	// 992
	@media (min-width: $break-md-screen) {
		display: block;	
	}	
}	

.mobile-demo {
	width: 480px;
}

// For Dev Use. Makes page load faster helps me focus. Comment the next css bloack out to see all components and remove ".vis" from the demo markup.

/*
div[class^="demo-wrap"] {
	display: none;	
}

div[class^="demo-wrap vis"] {
	display: block;	
}
*/

// Demo Grid Buttons

.demo-grid-btns {
  margin: 0 auto;
  text-align: center;
/*
  // 480
  @media (min-width: $break-sm-phone) {
    text-align: left;
  }
*/    
}

.add-grid-item,
.remove-grid-item {
  background: none;
  margin: 5px 0 0;
  padding: 0;  
  text-shadow: none; 
}

[data-duplicate="fp"],
[data-duplicate="media-post"] {
  counter-increment: post;
  position: relative; 
  &::before {
    background: rgba(black, 0.5);
    color: white;
    content: counter(post);
    font-weight: 800;
    line-height: 1;  
    padding: 0.75em 1em; 
    position: absolute;
    top: 0;
    left: 1em;  
    z-index: 1; 
  }
}


code .string,
code .tag .value { color: #0A2; }
code .number, /* integer */
code .cp, /* doctype */
code .literal { color: #07D; } /*boolean*/
code .keyword { color: #E31; } /* keyword */
code .kd, /* storage */
code .attribute { color: #D31; } /* markup attribute */
code .title  { color: #39A; }
code .params  { color: #98D; }
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #37B; } /* Markup open tag */

code .id { color: #567; } /* css id */
code .class { color: #B27; }  /* CSS class */
code .rules { color: #431; }
code .value  { color: #555; } /* CSS value */
code .nd,
code .pseudo { color: #38D; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #088; }

code .built_in { color: #E08; }

code .flickity, /* new Flickity() */
code .flickity_var { color: #D0D; } /* flkty */

code .jquery_var { color: #D70; } /* $gallery */

code .flickity { text-decoration: underline; }