// ******* Mixins ******* //

// Content Fade In

@mixin content-fade-in {

  @keyframes bg-fade-in {
    from { background-color: #fff }
  }
  
  @keyframes content-fade-in {
    from { opacity: 0 }
  }
  
  // html { animation: 1.5s bg-fade-in; }
  
  // body { animation: 1.5s content-fade-in }

}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix($color, white, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($color, black, $percentage);
}

@mixin color-reset {
  *,
  a {
    color: inherit !important;
  }
}

// Grid Layout

@mixin grid-flex($grid-item: 'n+4') {
  
  @if $grid-item == 'n+4' {

      flex-grow: 0;
      width: 25% !important; 

  } @else {

      flex-grow: 1;
      width: 33.3333333% !important;

  }    
}

// Panel Background Defaults

@mixin panel-bg-scale {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin panel-bg-repeat {
  background-repeat: repeat;
  background-position: left top;
  background-size: contain;
}

// Opacity helpers

@mixin opacity-50 {
	filter:alpha(opacity=50);
	opacity: 0.5;
}

@mixin opacity-80 {
	filter:alpha(opacity=80);
	opacity: 0.8;
}

// Text

@mixin p-style {
  font: {
    size: 0.938em;
    size: 0.938rem;
  }
  line-height: 1.35;
  margin: {
    bottom: 0.875em;
    bottom: 1.125rem;
  } 
  a {
		text-decoration: underline;	
	}
	// 400
  @media (min-width: 400px) {
    font: {
      size: 1em;
      size: 1rem;
    }
    line-height: 1.45;  
  }
}

@mixin txt-center-fix {
	text-align: center;
	// 768 
	@media (min-width: $break-lg-phone) {
		text-align: left;
	}
}

// Reg Mark adjustments for copy

@mixin reg-mark {
	font-size: 9px; 
	vertical-align: text-top;
}

// P overflow fix to hide text at smaller screens

@mixin text-overflow {
	overflow: hidden;	
	text-overflow: ellipsis; 
	white-space: nowrap;
}

@mixin text-overflow-off {
	overflow: visible; 
	white-space: normal;
}

// Form Input 

@mixin form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

// Reset

@mixin mobile-table-reset {
	display: table;
	margin: 0 auto;
	@media (min-width: $break-lg-phone) {
		display: block;
		margin: 0;
		max-width: 100%;
	}
}

@mixin btn-reset {
	text-shadow: none;
}

@mixin btn-hover-reset {
	&:hover,
	&:focus {
  	border: none;
    box-shadow: none;
    font-size: 0.875em;
  }
}

// Form TD reset

@mixin form-td-reset {
	display: block;
	line-height: 14px; 
	padding: 0 0 4px; 
	vertical-align: middle;
	width: 100%;
}

// Module block

@mixin mod-block {
	padding-top: 2em;
	padding-bottom: 2em;
	// 768
	@media (min-width: $break-lg-phone) {
  	//padding-bottom: 2em;   
	}  	
}

// Header Label

@mixin header-label {
	display: table;
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 auto 5px;
	padding: 5px 15px;
	text-shadow: $blk-text-shadow-neg;
	text-transform: uppercase;
	border-radius: 0;
	@media (min-width: $break-lg-phone) {
		display: inline-block;
	}
}

// Date Label

@mixin date-label {
	background-color: $red-label-bg;
	color: white;
	font-size: 11px;
	font-style: normal;
	letter-spacing: 0;
	line-height: 14px;
	margin: 0;
	padding: 2px 10px 3px 10px;
	text-shadow: $blk-text-shadow-neg;
}

// Box Styles

@mixin white-box {
	background: white;
	border: 1px solid #DDD;
}

@mixin media-box {
	background: #EEE;
	padding: 0.5em;
	.sidebar-main &,
	.media-viewer & {
  	background: white;
	}	
}

@mixin grey-box {
	background: #EEE;
	border: 1px solid #DDD;
}

@mixin reset-box {
	background: none;
	border:none;
}

// Blog Image Styles

@mixin blog-img-full {
	@media (min-width: $break-lg-phone) {
		float: none;
		margin: 0 auto 15px;
		width: 100%;
	}
}

@mixin blog-img-sm {
	margin: 15px auto;
	//figcaption {display: none;}
	@media (min-width: $break-lg-phone) {
		margin: 5px 15px 10px 0;
		width: 30%;
	}
	@media (min-width: $break-md-screen) {
		margin: 5px 20px 15px 0;
		width: 40%;
	}	
}

// Images

@mixin circle-mask {
	border-radius: 100%;
	//height: 100%;
	width: 100%;
	overflow: hidden;
  max-height: 300px;
	max-width: 300px;
	margin-bottom: 0;
	img {
  	border-radius: 100%;
  	overflow: hidden;
	}
	// 1200
	@media (min-width: $break-lg-screen) {
  	//max-height: 400px;
  	//max-width: 400px; 
	}
}

@mixin circle-mask-md {
	@include circle-mask;
	max-height: 300px;
	max-width: 300px;
}

@mixin circle-mask-sm {
	@include circle-mask;
	max-height: 150px;
	max-width: 150px;
}

@mixin rounded-mask {
	border-radius: 15px;
	width: 100%;
	overflow: hidden;	
}

// Image Replacement "hack"

@mixin hide-button-text {
  background-color: transparent;
  border:0;
  color: transparent;  
  font: 0/0 a; 
  text-shadow: none;
}

@mixin hide-text {
  color: transparent;
  font: 0/0;
  &:hover,
  &:focus {
	  color: transparent;
    font: 0/0;
  }
}

// Centered Text Border

@mixin text-border-ctr {
	&:before {
	  content: '';
    position: absolute;
    left: 30px;
    right: 30px;
    height: 1px;
    background: rgba(207,207,207,0.3);
    top: 50%;
    z-index: -2;	
	}
	&:after {
	  content: '';
    position: absolute;
    left: 50%;
    height: 50px;
    margin: -25px 0 0 -600px;
    width: 1200px;    
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.6) 70%,rgba(255,255,255,0) 100%);
    top: 50%;
    z-index: -1;	
	}
}

// Corner Ribbon

// via http://codepen.io/eode9/
// http://codepen.io/eode9/pen/twkKm?editors=110

@mixin corner-ribbon {
  width: 200px;
  background: #CCC;
  position: absolute;
  top: 15px;
  left: -60px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0.01em;
  font: {	
  	size: 0.65em;
  	weight: 700;
  }
  color: white;
  text-transform: uppercase;
  transform: rotate(-45deg);
	/* Custom styles */
	
	&.sticky {
	  position: fixed;
	}
	
	&.shadow {
	  box-shadow: 0 0 3px rgba(0,0,0,.3);
	}
	
	// Different positions
	
	&.top-left {
	  top: 25px;
	  left: -50px;
	  transform: rotate(-45deg);
	}
	
	&.top-right {
	  top: 25px;
	  right: -50px;
	  left: auto;
	  transform: rotate(45deg);
	}
	
	&.bottom-left {
	  top: auto;
	  bottom: 25px;
	  left: -50px;
	  transform: rotate(45deg);
	}
	
	&.bottom-right {
	  top: auto;
	  right: -50px;
	  bottom: 25px;
	  left: auto;
	  transform: rotate(-45deg);
	}
}

// Clearfix

@mixin clearfix {
  &:before, 
  &:after {
  	content: ""; 
  	display: table;
  }
  &:after {
    clear: both;
  }
}

// .btn:after reset
 
%btn-after-reset {
	content: "" !important;
	padding: 0 !important;
}

// flexbox fallback

// Containers
@mixin no-flexbox-container {
  .no-flexbox & {
    display: block;
    @include clearfix;
    & > * {
      display: inline-block;     
    }  
  }
}

@mixin no-flexbox {
  .no-flexbox & {
    display: block;
    & > * {
      display: inline-block;
      vertical-align: top;     
    }  
  }
}

@mixin no-flexbox-content {
  .no-flexbox & {
    display: table;
    .post-content {
      display: table-footer-group;
      vertical-align: top;    
    }  
  }
}

// Layout 

@mixin container {
	margin: 0 auto;
	max-width: 1200px;
	padding-right: 20px;
  padding-left: 20px;   	
	width: 100%;
	// 992
	@media (min-width: $break-md-screen) {
  	padding-right: 25px;
  	padding-left: 25px;   
	}
	@include no-flexbox-container;	
}

// SR Text

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}