@mixin button {
  background: none;
	border-radius: 3px;
	//border: none;
	display: inline-block;
	font-weight: 600; 	
	letter-spacing: -0.02em; 		
	margin-bottom: 0.5em;
	margin-bottom: 1rem;	
	padding: {
  	top: 0.75em;
  	right: 2em;
  	bottom: 0.75em;
  	left: 2em;
  }
	text-align: center;	
	text-decoration: none;
	transition: color 0.4s ease,
	            background 0.4s ease;
	vertical-align: middle;  
	width: 100%;
	-webkit-font-smoothing: antialiased; 	
	&:hover,
	&:focus {
		cursor: pointer;
	}
	&:active {
  	
	}
	&:empty,
	&:empty:not(input) {
  	display: none;  
	}
	// 375
	@media (min-width: 375px) {
  	max-width: 15em; 
  	margin-bottom: 0;  
	}
	// 400
	@media (min-width: 400px) {
  	//width: auto;
	}
	// 480
	@media (min-width: $break-sm-phone) {

  	//width: auto;  
	}
}

// Button CTA

@mixin button-cta {
  //border: none;
  //background-color: $btn-primary;
	//color: white;
	position: relative;
  &:after {
    background-color: darken($btn-primary, 10%);
    border-radius: 0 2px 2px 0;
    content: '\e80d';
    color: white;
    font-family:  $font-icon;
    font-size: 0.983rem; 
    margin-left: 0.5em;
    line-height: 41px;  
    height: 100%;
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center; 
    transition: all 0.4s ease; 
  }
  &:hover,
	&:focus {
		background-color: darken($btn-primary, 15%);
	}
  &:active {
    background-color: darken($btn-primary, 20%);
  }
	&:hover:after,
	&:focus:after {
		background-color: lighten($btn-primary, 1%);
		box-shadow: -1px 0 8px rgba(black, 0.25);
		font-size: 1.1rem;
		text-shadow: $blk-text-shadow-neg;    
		//width: 3.25rem;  
	}
  &:active:after {
    background-color: darken($btn-primary, 30%);
  }
  // 375
  @media (min-width: 375px) {
    padding-right: 4em;
    padding-left: 2em;     
  }
  // 480
  @media (min-width: $break-sm-phone) {
    padding-right: 5em;   
  }   
}

// Button Hero

@mixin button-hero {
  background: transparent;
  border: 0.5em solid rgba(white, 0.25);
  box-shadow: 0 0 0 1px rgba(white, 0.5) inset, 0 0 0 1px rgba(white, 0.5);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  &:hover,
  &:focus {
    background: rgba(black, 0.15);
    border: 0.5em solid rgba(white, 0.9);
    box-shadow:  0 0 0 1px rgba(white, 0) inset, 0 0 0 1px rgba(white, 0);
  }  
}

.btn,
[class*="btn"] {
  @include button;
}

// Button Sizes

.btn-lg {
	font-size: 1.25em;	
	padding: 1.5em;
	// 480
	@media (min-width: $break-sm-phone) {
		padding-right: 3.5em;
		padding-left: 3.5em;			
	}
}

.btn-md {
  // 480
  @media (min-width: $break-sm-phone) {
	  padding: 2em 3.5em;
	}
}

.btn-sm {
  margin-right: auto;
  margin-left: auto;  
  margin-bottom: 0.75em;     
  padding: 0.45em 0.5em 0.5em 0.5em;
  text-align: center;
  [class^='icon-']:before,
  [class*=' icon-']:before {
    vertical-align: text-bottom;
  }		
}


.btn-primary {

}

.btn-secondary {
 
}


.register-btn {
  //@extend .btn-primary;
}

.share-btn {
  //background-color: #AAA;
  a {
    //color: white;
  }
}

.btn-txt {
	background: none; 
	font-size: 1.125em;   
	padding: 0.25em;
	text-shadow: none;		
	&:hover,
	&:focus {
		box-shadow: none;
		//font-size: 1.75em;	
		margin-left: 0;	
		opacity: 1;
		text-shadow: none;
	}
}

.btn-outline {
	background: none;
	border: {
  	width: 3px;
  	style: solid;
  }
	color: $link;
	text-shadow: none;
	&:hover {
		border-color: #CCC;
		color: #CCC;
		text-shadow: none;	
	}
}

.btn-hero {
  @include button-hero;  
}
  
.helper-link {
  font-size: 0.938em;
  font-size: 0.938rem; 
  text-align: center;  
  a {
    color: white;
  }
}

// Submit Buttons

.btn-submit {
  //background-color: $btn-primary;
	&:hover,
	&:focus {
  	//background-color: darken( $btn-primary , 5%); 
	}
	&:active {
    //background-color: tint($btn-primary, 90%);
    //box-shadow: 0 0 30px rgba(black, 0.3) inset;
  }		
}

// Cancel Button

.btn-cancel {
  //background-color: lighten(darkRed, 10%);
}

// Contact Buttons

.contact-btns {
	padding-bottom: 2em;
	.btn-outline {
		font-size: 1.15em;	
		margin-right: 0.938em;	
	}
	.icon-mobile {
		font-size: 1em;
		font-size: 1rem;
		line-height: 1;
		&:before {
			margin-left: 0;
		}		
	}	
}

// Button Group

.button-group {
  background: none;
  display: inline-block;  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
	padding: 0;
	width: 100%;
	&:before {
    content: '300 400 540 700';
    display: none;
  }
	&[data-minwidth~="300"] {
	
	}
	&[data-minwidth~="450"] {
	
	}
	&[data-minwidth~="540"] {
	
	}   
	[class*="btn"] {
		//flex: 1 0 auto;
		margin: {
  		top: 0;
  		right: 0.313em;
  		bottom: 0.7em;
  		left: 0.313em;
    }   
		&:last-child {
  		//margin-bottom: 0; 
		}	 	
	}
	// 375
	@media (min-width: 375px) {
  	[class*="btn"] {
    	
  	}
	}
	// 480
	@media (min-width: $break-sm-phone) {
  	flex-flow: row wrap;
  	[class*="btn"] {
    	width: 100%;
    }
  	&[data-minwidth~="300"] {		
  		flex-flow: row wrap;
    	[class*="btn"] {      
      	&:nth-last-child(n+3), 
        &:nth-last-child(n+3) ~ * {
          &:first-child {
          	  
        	}
        	 &:last-child {
          	  
        	}
        }
      }
    }
	}
	// 667
	@media (min-width: $break-lg-screen) {
  	.no-js &, {		
  		flex-flow: row wrap;
    	[class*="btn"] {
      	margin-bottom: 0;
      }
    } 	
		.btn-txt {
			width: 44%;	
			&:nth-child(3n) {
				margin-bottom: 0;	
			}
		}
	}
	// 667
	@media (min-width: $break-ml-phone) {
		.btn-txt {  
			width: 22%;	
		}
	}
  
  // Fallback
	.no-flexbox & {
		[class*="btn"] {
  		display: block;
  		margin-right: 0;   
  		margin-bottom: 0.5em;
  		margin-left: 0; 
  		width: auto; 
		}
		// 667
		@media (min-width: $break-ml-phone) {
  		[class*="btn"] {
    		display: inline-block;   
    		margin-bottom: 0;
    		&:first-child {
      		margin-right: 0.25em;  
    		}
    		&:last-child {
      		margin-left: 0.25em; 
    		}  
  		}
		}
	}
}

// Close Button

.close-btn {	
	//background: #333;
	//box-shadow: 0 0 6px rgba(0,0,0,0.5);
	border: 2px solid #EEE;
	border-radius: 100%;
	//color: wheat;
	cursor: pointer;
	font-size: 0.875em;
	font-weight: 500;
	line-height: 0;
	height: 30px;
	width: 30px;	
	position: absolute;
	top: 0;
	right: -10px;
	padding: 0.55em 0.5em 0.625em 0.6em;
	text-shadow: none;
	z-index: 4;	
  // perspective: 800px;
  // perspective-origin: 50% 100px;
	transition: all 500ms;
	&:hover, &:focus {
		background: darkRed;
		cursor: pointer;
		text-shadow: none;
		//transform: rotateY(180deg) scale(1.1);
	}		
}
