.media-wrap {	
	position:relative;
	line-height: 0; 
	height:0;  
	// padding-bottom: 70% !important; // 4:3
	padding-bottom: 56.25%; // 16:9
	width:100%;
	& > figure,
	& > div,
	& > iframe {
		display: inline-block;
		position: absolute !important;
		margin: 0;
		height: 100% !important;
		width: 100%;
		top:0;
		left:0;
	}
	iframe {
		@include media-box;
	}
}

// Embedded Map

.map-embed {
	display: block;
	height: 100%;
	padding-top: 2em;
	padding-bottom: 80%; 
	#map-canvas {
		height: 100%;
		width: 100%;		
	}	
}