.soc-media-icons {
	align-self: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;   
	max-width: 150px;   
  a {
    flex: 0 1 auto;
  }
	p {
  	flex: 1 0 100%;
  	margin-bottom: 0.5em; 
	}
	.icon {
    height: 45px;
    width: 45px;
    margin: {
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
    }   
  }
  
  // 320
  @media (min-width: $break-tiny-phone) {
    max-width: 100%;  
  }
  // 480
  @media (min-width: $break-tiny-phone) {
    .icon {
      margin-top: 0;
      margin-bottom: 0; 
    }
    
  }
  
  // fallbacks
  .no-flexbox & {
    display: inline-block;    
  }
}

// Social Media Links

.soc-media-links {
  display: inline-block;
  padding-top: 1em; 
  padding-bottom: 1em;  
  width: 100%;
  a {
    font-size: 2em;
    line-height: 1em;  
  }  
  p {     
    margin-bottom: 0.25em; 
    width: 100%;     
  }
  // 320
  @media (min-width: $break-tiny-phone) {
    p {
      padding-right: 1em;  
      width: auto;    
    }
    a {
      display: inline-block;
      margin-right: 2px;
      margin-left: 2px; 
      vertical-align: middle;   
    }
  } 
  // 768
  @media (min-width: $break-lg-phone) {   
    p {
      line-height: 37px; 
      vertical-align: middle;   
    }  
  } 
}