.tag-list {
  padding-top: 2em;
  padding-bottom: 2em;
}

// Tag Group

.tag-group {
  font: {
    size: 0.875em;
  }
  margin: {
    right: auto;
    left: auto;   
  } 
  text-align: center;
  & > a {
    background-color: #DDD;
    border-radius: 3px;
    display: inline-block;  
    font: {
      size: 0.785em;
      weight: bold; 
    }
    line-height: 1;
    margin: {
      top: 0.25em;
      right: 0.125em;
      bottom: 0.25em;
      left: 0.125em;
    }  
    padding: {
      top: 0.5em;
      right: 0.75em;
      bottom: 0.5em;
      left: 0.75em;    
    }
  }
}

// Tag Item

.tag-item {
  
}