html::-webkit-scrollbar {
  width: 10px;
  // 992
  @media (min-width: $break-md-screen) {
    //width: 7px;  
  }
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
html::-webkit-scrollbar-thumb {
  background: #BBB;
  // border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  outline: 1px solid transparent;
  width: 100px;
  height: 100px;  
}

html,
body,
body > form {
  //height: 100%; 
}

// Container - use .container in markup or use the "@include container;" mixin to wrap content or sections

section {
  @include panel-bg-scale;
}

section.bg-repeat {
  @include panel-bg-repeat
  
}

// zone layout

[class*="-zone"] {
  .container {
    @include clearfix;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: .75em;
    padding-bottom: .75em;
    &:empty {
      display: none;  
    } 
  }
 
  
/*
  & > div,
  & > * {
    padding-top: .625em;
    padding-bottom: .625em;  
  }
*/  
}

.container {
  @include container;
}

// Fluid Container

.container-fluid {
  margin: 0 auto;  
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  width: 100%;      
}

// Lazy Load Styles

.lazyload {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.4s;
}

/*
.lazyloaded figcaption {
  opacity: 1;
}
*/

@media (min-width: 600px) {
  .lazyload {
  	transform: scale(0.8);
  }  
  .lazyloaded {
  	transform: scale(1);
  	transition: all 700ms; 
  }
}