.site-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //height: 100vh;  
  .IE11 & {
    height: 100vh; 
  }
  .IE10 & {
    height: 100%; 
  } 
}

.site-header,
.site-footer {
  //flex: 0 1 auto;
   
}

.site-content { 
  flex: 1 0 auto;
  margin: 0 auto;
  width: 100%;    	
}

// Page Content

.page-content {
  @include container;
  padding-top: 1.5em; 
  padding-right: 0;
  padding-left: 0; 
}

// Content Main
.content-main { 
  padding-bottom: 0;
  &:first-of-type section {
    padding-top: 0; 
  } 
}

// Sidebar Main
.sidebar-main {
}

// Two Col Layout
  
// 800
@media (min-width: $break-800) {
  .page-content {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2.5em; 
    padding-right: 1.5em; 
  }
  .content-main {
    //flex-grow: 1;
    flex: 1 0 70%;
    padding-right: 0;
    //width: 70%;
  }
  .sidebar-main {
    //flex-grow: 1;
    flex: 1 0 30%; 
    //width: 30%;
    // use this when a bg is defined
    //& > section {
      //padding-top: 1em;
      //padding-bottom: 1em;   
    //}
    //section,
    //div {
      //& > .container,
      //& >.content-post-wrap {
        //padding-right: 0;
        //padding-left: 0;
      //}  
    //}
  }
}

// shift sidebar to the left @ 1600
//@media (min-width: $break-xxl-screen) {
  //.two-col {
    //.page-content {
      //flex-flow: row-reverse wrap;
    //}
    //.content-main {
      //padding-right: 0;
      //padding-left: 2.5%;
      //width: 80%;  
    //}
    //.sidebar-main {
      //width: 20%; 
    //}
  //}
//}

// Content Header

.content-header {
  padding-top: 2em; 
  padding-bottom: 2em;
  .content-post-wrap {
    padding: 0; 
  }
  .content-post,
  .post-content {
    margin-bottom: 0; 
    padding-bottom: 0;  
  }
  
/*
  // 667 ~ 1200
  @media (min-width: $break-ml-phone) and (max-width: $break-lg-screen) {      
    .two-col & { 
      .post-wrap {
        flex-flow: column-reverse;
      }
      .post-content,
      .post-media {
        width: 100%;  
      }
      .post-content {
        padding-top: 1.5em; 
        padding-left: 0;  
      }
    }
  }
*/
  //  800 ~ 1200
  @media (min-width: $break-800) and (max-width: $break-lg-screen) {
    .two-col & {
      //padding-top: 0;
    } 
  }
  // 1200
  @media (min-width: $break-lg-screen) {
    .two-col & {
      padding-right: 0;   
      .post-wrap {
        flex-flow: row-reverse wrap;
      }
      .post-content {
        padding-top: 0; 
        padding-left: 3%;
        width: 60%;   
      }
      .post-media {
        width: 40%;
      }
    }
  }
}