.site-footer {
	padding-top: 1em;
	padding-bottom: 1em;  
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
	a {

	}
	.content-post li {
    span {
      display: inline-block;  
      padding-left: 0.25em; 
    }
  }
  // 768
  @media (min-width: $break-lg-phone) {
    //padding-top: 2em;
    //padding-bottom: 2em;  
  }
}

// Footer Logo

.footer-logo {
  font-size: 2em;
  img {
     
  } 
}

// Footer Nav

.footer-nav {
  display: flex;
	flex-flow: column;
	justify-content: center;
	padding-top: 1em;  
	width: 100%;
	a {
  	display: inline-block;
  	font: {
    	size: 0.938em;
    }
    padding-bottom: 1em;   
	}
	// 320
	@media (min-width: $break-tiny-phone) {
  	flex-flow: row wrap;
  	align-items: center;
  	a {
    	flex: 0 1 auto;
    	padding-right: 1em;
    	padding-left: 1em;   
  	}
	}
	// 540
	@media (min-width: $break-md-phone) {
  	a {
    	&:nth-last-child(n+5), 
      &:nth-last-child(n+5) ~ * {
        flex: 0 1 33%;
      }
    }
	}
	// 700
	@media (min-width: 700px) {
  	a {
    	&:nth-last-child(n+4), 
      &:nth-last-child(n+4) ~ * {
    	  flex: 0 1 auto;
    	}
    	  
    }
	}
}

// Footer Contact Bar

.footer-contact-bar {
	display: inline-block;
	width: 100%;
}

.footer-contact-links {
  margin-bottom: 1em; 
  a {
    display: inline-block;
    padding: 0 0 0.5em;
    width: 48%; 
    -webkit-font-smoothing: antialiased;
    i {
    	&:before {
      	font-size: 99%; 
    	}
  	} 
    // 540
    @media (min-width: $break-md-phone) {
      padding-right: 0.5em;
      padding-left: 0.5em;
      padding-bottom: 0;  
      width: auto;       
    }  
  }
}

.footer-icons {
  margin-bottom: 1em; 
  [class^="icon-"]:before, 
	[class*=" icon-"]:before {
		font-size: 2em;	 
 	}		
}

.footer-copyright {
  display: block; 
  margin: 0 auto; 
}

// Site Copyrights

.site-copyright {
  padding-top: 1em;
  width: 100%;  
  p {
    margin: 0 auto;  
  }
  // 768
  @media (min-width: $break-lg-phone) {
    text-align: center; 
  }   
}

// Footer Login

.footer-login {
  font-size: .75em; 
  a,
  span {
    display: inline-block; 
    padding: {
      top: .25em;
      right: .5em;
      bottom: .25em;
      left: .5em;
    }
  }
  a:hover {
    text-decoration: underline; 
  }
  .icon-divider {
    display: none;
  }
  
  // 500 ~ 667
  @media (min-width: 500px) and (max-width: 600px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    a,
    span {
      flex: 0 1 33%;
    }
  }
  
  // 667
  @media (min-width: $break-ml-phone) {
    
    a,
    span {
      //flex: 0 1 auto;
      padding: {
        top: 0;
        right: .75em;
        bottom: 0;
        left: .75em;
      } 
    }    
  }
  
}




// These footers are currently using classes to demo the style.
// ".site-footer-contact, .site-footer-posts, .site-footer-basic"

/*
@import "../footer/contact-footer";
@import "../footer/content-post-footer";
@import "../footer/basic-footer";
*/