// Site Header

.site-header {
  flex: 1 0 auto;
  text-align: center;
  
  .soc-media-icons {  
    padding-right: 10px; 
    a {
     padding-right: .25em;
     padding-left: 0;    
    }
    .icon {
      height: 35px;
      width: 35px;  
      margin: 0;  
    }
  }
  
  // < 320
  @media (max-width: $break-sm-phone) {
    .container {
      //display: flex;
      //flex-flow: column-reverse
    }
  }
  
  // < 540
  @media (max-width: $break-md-phone) {
    .searchBox,
    .search-bar {
      
    }
  } 
}

// hide icons on really small screens
.site-header,
.no-flexbox .site-header {  
  .soc-media-icons {
    // < 320
    @media (max-width: $break-tiny-phone - 1px) {
      display: none;  
    }
  }
}


// Header Navbar

.header-navbar {  
	padding-top: .5em;
	padding-bottom: .875em;	
	.container {
  	@include clearfix;
		padding-right: .5em;
		padding-left: .5em;  
		position: relative;
		width: 100%;
	}
}

// nav menu

.nav-menu {
  padding-top: .5em;
  padding-bottom: .5em;
  a {
    display: inline-block;
  }
}

// Header Nav

.header-nav {  
  text-align: center;   
  width: 100%;  
   a {
    padding: {
      top: 0;
      right: .5em; 
      bottom: 0;
      left: .5em;
    }
    // < 320
    @media (max-width: $break-tiny-phone) {
      .icon {
        display: none;  
      } 
    }      
  }
}


// 320
@media (min-width: $break-tiny-phone) {
  
  .site-header {
    
    // inside Site Header
    [class*="-zone"] .container {
      align-items: center;
      flex-flow: row wrap;
      justify-content: center;
    }
    [class*="-zone"] {
      &:last-of-type .container {
        justify-content: space-between;
        padding-top: 0; 
      }
    }
    .soc-media-icons {  
      float: left;
      flex: 0 1 auto;
      order: 2; 
      margin-right: 0;
      margin-left: 0;  
      width: auto;       
    }
    
    .searchBox,
    .search-bar {
      float: right;
      flex: 1 0 auto; 
      margin-right: 0;
      margin-left: 0; 
      order: 3; 
      width: 65%; 
    }
  } 
}

// 540
@media (min-width: $break-md-phone) {
  
  .site-header {    
    [class*="-zone"] {
      justify-content: space-between;
    }
    .soc-media-icons {
      float: right;
      padding-right: .5em;   
      width: auto;  
    }
    
    .searchBox,
    .search-bar {
      max-width: 150px; 
      width: auto;  
    }
  }
  
  .header-nav {
    float: left;
    flex: 1 0 auto;
    text-align: left;  
    width: auto; 
    a {
      padding-right: 1em;  
      padding-left: 0;  
    }
    .icon {
      margin-right: 0;  
      margin-left: 0; 
    }   
  }
  
}

  // 580
  @media (min-width: $break-md-phone + 40px) {
    
    .site-header {
      .searchBox,
      .search-bar {
        max-width: 200px;
      }
    }    
  }



// fallbacks

.no-flexbox {
  
  
  .site-header {
    
  }
  
  
  
  // 320
  @media (min-width: $break-tiny-phone) {
    
    .site-header {
       text-align: left;
       
       .soc-media-icons {
           
         width: auto;  
       }
       
       .searchBox,
       .search-bar {
         width: 180px; 
       }
       
    }
    
  }
  
  // 540
  @media (min-width: $break-md-phone) {
    
    .header-nav {
      padding-top: .938em;
    }
    
    .site-header {
      .soc-media-icons {
        padding-top: .625em;
      }
    }
    
  }
  
  
}

